:root{
    --primary-dark:#01080E;
    --primary-middle:#011627;
    --primary-low:#01122128;
    --secondary-gray:#607B96;
    --secondary-green: #3C9D93;
    --secondary-lavender:#4D5BCE;
    --secondary-white:#FFFFFF;
    --accent-gold:#FEA55F;
    --acent-gold-hover:#FFAC6B;
    --accent-darkGreen:#43D9AD;
    --accent-pink:#E99287;
    --gradients-blue:#4D5BCE;
    --btn-defaultbg-color: #1C2B3A;
    --btn-defaultbg-Hover-color:#263B50;
    --bg-overlap:#010C15;
    --page-bg-color:#1E2D3D;
    --welcome-text-color:#E5E9F0;
    --aboupage-text-color:#5565e8;
    --about-message-profile-color:#011221;
    --code-text-color:#c98bdf;
   
    


   
}