
@use './typography' as *;
@use './color' as *;
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    font-family: var(--font-family);
    // overflow: hidden;
    
}
body{
    background:var( --bg-overlap) ;
    color: var(----secondary-gray);
}