:root{
    --font-family: 'Fira Code', monospace;
    --btn-font-weight:450;
    --btn-lineheight: normal;
    --btn-fontstyle: normal;
    
    --headline-text:62px;
    --subheadline-text:32px;
    --body-text:18px;
    --lables:16px;
    --code-snippets:14px;
    --small:12px;
    --wlecome-size:18px;
}
