.MainPage_container {
  margin: 69px;
  border-radius: 8px;
  border: 1px solid var(--page-bg-color);
  background: var(--primary-middle);
  height: 900px;
  overflow: hidden;

  .loading {
    display: flex;
    height: 100px;
    align-items: center;
    color: var(--secondary-white);
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .MainPage_container {
    margin: 15px;
    z-index: 0;
    // opacity: 0;
  }
  .menubar{
    //  position: fixed;
    height: 0;
    width: 0;
   

  }
}
