
.MainPage_container{
    margin: 69px;
     background: var(--page-bg-color);
     border-radius: 8px;
border: 1px solid var(--page-bg-color);
background:var(--primary-middle);

.loading{
display: flex;
height: 100px;
align-items: center;
color: var(--secondary-white);
justify-content: center;
}
}