.Project_section {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #1e2d3d;
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  display: flex;
  color: #607b96;
  height: 100%;
  .Project_menu {
    border-right: 1px solid #1e2d3d;
    width: 311px;
    & h4 {
      border-bottom: 1px solid #1e2d3d;
      height: 40px;
      padding: 8px;
      margin-left: 16px;
    }
  }
  .left_main {
    color: #607b96;
    display: flex;
    column-gap: 8px;
    align-items: flex-start;
    padding: 0 22px;
    margin-top: 17px;
  }

  .Project_cards {
    overflow-y: scroll;
    height: 941px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 115px;
    padding-bottom: 320px;
    margin: 0 auto;
    gap: 40px;
    border-right: 1px solid #1e2d3d;
  }
  .card_container {
    & .ProjectName {
      font-size: 16px;
      color: #5565e8;
      font-weight: 700;
    }
    & .ProjectTitle {
      font-size: 16px;
      font-weight: 700;
    }
    .cards {
      position: relative;
      & img {
        width: 100%;
        object-fit: contain;
      }
      & i svg {
        background-color: rgb(111, 219, 183);
        color: #000000;
        font-size: 28px;
        padding: 2px;
        border-radius: 5px;
      }
      margin-top: 10px;
      border-radius: 15px;
      box-shadow: 0px 1px 100px 0px #1e2730;
      border: 1px solid #1e2d3d;
      width: 372px;
      height: 315px;
      &_Body p {
        padding: 24px 35px 22px 31px;
      }
      & button {
        cursor: pointer;
        margin-left: 31px;
        border: none;
        color: aliceblue;
        background-color: #1c2b3a;
        border-radius: 8px;
        padding: 10px 14px;
      }
    }
  }

  .Projects {
    width: 100%;

    .Project_title {
      border-bottom: 1px solid #1e2d3d;
      border-right: 1px solid #1e2d3d;
      height: 40px;
      width: 103%;
      padding: 8px;
      display: flex;
      align-items: center;

      & div {
        display: flex;
        column-gap: 6px;
        align-items: center;
        & .closeBtn {
          margin-left: 40px;
          cursor: pointer;
        }
        & span {
        }
      }
    }
  }
}

.empty {
  margin-top: 40px;
  width: 26px;
  border-left: 1px solid var(--page-bg-color);
  .bar {
    width: 18.5px;
    height: 7px;
    margin: 5px 3px;
    background: var(--secondary-gray);
  }
}
